@charset "UTF-8";

body{
    background-color: black;
}
main{
    background-color: rgb(39, 39, 39);
    margin: 25px;
    border-radius: 5px;
}

main fieldset{
    margin: 10px;
    border-radius: 5px;
}

main h1{
        text-align: center;
        color: beige;
}

main input {

     size: 50%; 

}

main p {
    color: beige;
    padding-left: 10px;
}

.fim{
   margin: 10px;
}