
body{
    background-color: black
}

main{
    background-color: rgb(39, 39, 39);
    margin: 25px;
    border-radius: 5px;
}

main h1{
        text-align: center;
        color: beige;
}

main input {

      margin: auto;    
}
